@import './variables';
@import './responsive';

.card {
    background-color: $color-white;
    box-shadow: $box-shadow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__header {
        margin: 16px;        
        
        &__content {
            border-radius: 10px;
            display: flex;
            justify-content: center;
            height: 156px;
    
            background: url('../resources/Cactus.jpg') no-repeat bottom;
        }
    }
    
    
    &__content {
        padding: 0 25px;

        &__label {
            margin-top: 1rem;
            width: 20%;
            padding: 5px;
            border-radius: 10px;
            background-color: $color-light-purple;
            color: $color-purple;
            font-weight: 700;
            font-size: $font-small;
            text-align: center;
        }

        &__title {
            margin-top: 1rem;
            font-size: $font-title;
            font-weight: 700;
        }

        &__subtitle {
            margin-top: 0.375rem;
            font-size: $font-body;
            color: $color-gray;
            font-weight: 200;
            line-height: 20px;
        }
    }

    &__footer {
        padding: 0 25px 25px;

        &__title {
            font-size: $font-small;
        }

        &__division {
            margin: 1.25rem 0;
            color: $color-off-white;
            background-color: $color-off-white
        }
    }
}