$color-purple: #7C19EE;
$color-light-purple: #F2EAFD;
$color-off-white: #FAFAF9;
$color-white: #FFFFFF;
$color-light-gray: #E5EAF0;
$color-gray-dark: #20293A;
$color-gray: #394150;
$box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);

$font-family: "Sora", sans-serif;
$font-title: 1.125rem;
$font-body: 0.875rem;
$font-small: 0.75rem;
$font-tag: 0.625rem;